.register-box {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
}
.register-form {
  /* padding: 20px; */
  /* border: 1px black solid; */
  width: 40vw;
}
img {
  height: 50vh;
  width: 40vw;
}
a {
  text-decoration: none;
  padding: 5px;
}
